* {
    font-family: monospace;
    background-color: rgb(53, 53, 53);
    color: rgb(53, 255, 53);
}

h1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 30px;
    padding: 5px;
    width: 800px;
    font-size: 30px;
}
h1, h2 {
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    text-align: center;
}

div#header {
    display: flex;
    justify-content: center;
}

div#instructions { 
    display:flex;
    justify-content: center;
    height: auto;
}

#buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 2rem;
    margin-top: 0px;
    padding: 0.5rem;
    width: 300px;
    font-size: 21px;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    border: none;
}

.btn:hover {
    box-shadow: 1px 1px 15px rgb(15, 15, 15);
}

.btn:active {
    box-shadow: inset 0px 0px 5px black, 1px 1px 3px black;
    font-size: 20px;
}


#output {
    font-size: 30px;
    text-align: center;
}

#player-score {
    font-size: 20px;
    padding-right: 50px;
    padding-top: 21px;
    color: rgb(142, 255, 142);
}

#computer-score {
    font-size: 20px;
    padding-left: 50px;
    padding-top: 21px;
    color: rgb(142, 255, 142);
}

div#container {
    margin-top: 20px;
}

button#secret-btn { 
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
}

#secret-btn:focus {
    outline: none;
}

img, h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.display {
    display: block;
}